html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100%;
}

#fact-container{
    position: relative;
    background: bisque;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1.61803398875fr 0.5fr;
    justify-content: center;
    font-family: sans-serif;
    font-size: calc(1.5vw + 1.5vh);
    
    text-align: left;

    height: 100%;
    overflow: hidden;
}

#center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://cataas.com/cat/gif);
    background-size: cover;
    background-position: center;

    overflow: hidden; 
}

#center p {
  background: #00000057;
  color: white;
  font-weight: bolder;
  padding: 40% 30% 2% 10%;
}


#left, #right {
  background: #fff9f0;
  width: 51%;
  height: 100%;
  position: absolute;
}

#right {
  padding-top: 30%
}

#right span {
  display: block;
  color: #c78100;
  font-size: calc(1vw + 1vh);
  text-align: right;
}

.right {  
  right: 0;
}

.left {
  left: 0;
}

.filler {
  background: #fff9f0
}

.left-open {
   left: -51%;

   animation-name: open-left;
   animation-duration: 3s;
}

@keyframes open-left {
  from {
    left: 0;
  }

  to {
    left: -51%;
  }
}

.left-close {
   left: 0;
   animation-name: close-left;
   animation-duration: 3s;
}

@keyframes close-left {
  from {
    left: -51%;
  }

  to {
    left: 0;
  }
}


.right-open {
  right: -51%;  

  animation-name: open-right;
  animation-duration: 3s;
}

@keyframes open-right {
  from {
    right: 0;
  }

  to {
    right: -51%;
  }
}

.right-close {
  right: 0;
  
  animation-name: close-right;
  animation-duration: 3s;
}

@keyframes close-right {
  from {
    right: -51%;
  }

  to {
    right: 0;
  }
}



#pullcord {
  position: relative;
  height: 100%;
  z-index: 100;  
}

#pullcord img:first-of-type {
  transform: translate(0, -10%);
  height: 80%;
}

#paw {
  height: 35%;
  position: absolute;
  bottom: -35%;
  right: 0;
}

#pullcord:hover #paw{
  bottom: 0;
  transition: bottom 1s;
}

#pullcord:not(:hover) #paw{
  bottom: -35%;
  transition: bottom 1s;
  
}

#pullcord:active{
  transform: translate(0, 15px)
}

