html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100%;
}

#fact-container{
    position: relative;
    background: bisque;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 7fr 1fr;
    justify-content: center;
    font-family: garamond;
    font-size: large;
    text-align: center;

    height: 100%;
    overflow: hidden;
}

#big-curtain {
  position: absolute;
  z-index: 1;
  height: 110%;
  width: 100%;
  
}

#center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(http://placekitten.com/800/1500);
    background-size: cover;

    overflow: hidden; 
}

#center p {
  background: #fff4e58f;
  margin: auto 30vh 33vh;
  padding: 2vh 4vw;
}

#center img {
  height: 105%;
  width: 60%;
}

.curtain {
  position: absolute;
}

.filler {
  background: #fff9f0
}

.filler:first-child {
  position: relative;

}

.yarn {
  border: solid;
  position: absolute;
  width: 50%;
  left: 3%;
  bottom: 3%;
  
}

.rotate {
   animation-name: rotate;
   animation-duration: 3s;
}

@keyframes rotate {
  from {
    transform:rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

#left {
   transform: scaleX(-1); 
}

.left-open {
   left: -50%;

   animation-name: open-left;
   animation-duration: 3s;
}

@keyframes open-left {
  from {
    left: -5%;
  }

  to {
    left: -50%;
  }
}

.left-close {
   left: -5%;

   animation-name: close-left;
   animation-duration: 3s;
}

@keyframes close-left {
  from {
    left: -50%;
  }

  to {
    left: -5%;
  }
}


.right-open {
  right: -50%;

  animation-name: open-right;
  animation-duration: 3s;
}

@keyframes open-right {
  from {
    right: -5%;
  }

  to {
    right: -50%;
  }
}

.right-close {
  right: -5%;
  
  animation-name: close-right;
  animation-duration: 3s;
}

@keyframes close-right {
  from {
    right: -50%;
  }

  to {
    right: -5%;
  }
}



#pullcord {
  position: absolute;
  right: 5%;
  transform: translate(0, -50px);
  z-index: 100;  
}

#pullcord :active{
  transform: translate(0, 20px)
}

